body {
    margin: 0;

    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #7b7b7b;
    background-color: #fff;

}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}



/* Container 
====================*/

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header
====================*/

.header {
    width: 100%;
    height: 100px;

    position: relative;
    top: 0;
    left: 0;
    z-index: 1000;
}

main {
    width: 100%;
    

    position: relative;
    top: 0;
    left: 0;
    z-index: 1000;
}


.header.fixed {
    height: auto;

    position: fixed;

    background-color: #31344e;
}

.header.fixed .header__inner {
    padding: 15px 0;

    border-bottom: 0;
}

.header__inner {
    display: flex;
    padding: 35px 0;
    justify-content: space-between;
    align-items: center;

}

/* Navigation
====================*/

.nav {
    display: flex;
    font-size: 13.5px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    padding: 7px 14px;

    font-family: 'Lato', sans-serif;
    color: #868686;
    text-decoration: none;
    opacity: 0.75;

    transition: opacity .1s linear;
       
}

.nav__link:hover {
    box-shadow: 0 0 5px #000;
    background-color: #ffbb42;
    border-radius: 1em;
    color: #fff;
    opacity: 1;
}

/* Banner
====================*/

.banner {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 100px;
    height: 590px;

    position: relative;

    background: #709dca url("images/header.png") center no-repeat;
    background-size: cover;
}

.banner__inner {
    width: 100%;
    
    margin: auto 0;
    

}

.banner__title {
    font-family: 'Archivo Black', sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 1.1;

    color: rgb(241, 239, 239);
    text-transform: uppercase;
}

.banner__subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;

    color: #fff;
}

.banner_block {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;

    width: 282px;
    height: 46px;

    margin-right: 10px;
    position: relative;
}

.banner_block input::-webkit-input-placeholder {
    color: #a9a9a9;
    font-weight: 400;
    opacity: 0.7;

}

.banner_block input {
    height: 100%;
    width: 100%;
    padding: 10px 10px 10px 30px;

    border-radius: 3px;
    border: 0;
}

.banner_block i {
    position: absolute;

    top: 16.5px;
    padding: 0 10px;
}

.banner_block:last-child {
    margin-right: 0;
}

.banner_block.request {


    width: 212px;
    height: 46px;

}

.banner_block.request input {
    
    padding: 10px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;

    color: #fff;
    background-color: #ffbb42;
}



.banner .container .form {
    display: flex;
    justify-content: center;
    margin-top: 36px;
}


.banner__item {
    margin-top: 66px;
}
.banner__tv {
}

.banner__photo {
    position: absolute;
    display: flex;
    justify-content: center;

    top: -265px;
}

/* Services
================= */
.service {
    display: contents;
    
    width: 1200px;
    
}

.service__title {
    font-size: 30px;
    font-family: 'Archivo Black', sans-serif;

    

    color: #394b50;
}

.service__subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;

    line-height: 1;

    color: #394b50;
}

.service__link {
    text-align: center;
    margin-top: 204px;

    
}

.sevice__block {
    display: flex;

    margin-top: 93px;

    width: 1200px;
}

.left__block {
    margin-right: 30px;
}

.right__block {
   
}

.column__sections {
    margin-bottom: 82px;

    display: flex;
 
}

.sections__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;

}

.sections__title {
    font-family: 'Lato', sans-serif;
    font-size: 16px;

    text-transform: uppercase;
}

.service__icon {
    width: 82px;
}

.service__text {
    width: 100%;
}











/* features
================= */





/* Media */

@media (max-width: 1300px){
    /* Header */
    .header {
        width: 1200px;
    }

    main {
        width: 1200px;
    }
   

}